@import 'init.css';
@import 'list.css';

section#index-container a {
  color: #005ccc;
}

section#index-container a:hover {
  text-decoration: underline;
}

section#index-container p {
  margin-bottom: 1rem;
}

#main-container p {
  line-height: 200%;
  font-family: 'Noto Serif VF',serif;
  text-rendering: optimizeLegibility;
  word-break: keep-all;
  font-feature-settings: normal;
}

#main-container a{
  color:#005ccc;
}

details {
  font:
    16px "Open Sans",
    Calibri,
    sans-serif;
  width: 620px;
}

details > summary {
  padding: 4px;
  width: 15em;
  cursor: pointer;
  list-style: none;
  color:#005ccc;
}

summary:hover{
  text-decoration: underline;
}

details > ul {
  padding: 4px;
  margin: 0;
}

ul {
  list-style: none;
}