<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Lorem Ipsum</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/index.css" as="style">
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <section>
      <p>
          Hello, I'm Dohyun Kwak, a passionate and dedicated IT professional currently pursuing a Bachelor of Information Technology and Business. With a strong focus on continuous learning and excellence, I aim to leverage my skills and experiences to make significant contributions to the tech industry.
      </p>
      <p>
          I am committed to achieving the highest marks in my university courses, demonstrating my dedication to academic excellence and continuous improvement. My journey in the tech world is marked by active participation in various competitions, which has provided me with valuable experience and honed my skills in a practical, competitive environment.
      </p>
  </section>
  <section>
      <p>
          At <strong>FRG Technology Consulting</strong>, I am gaining hands-on experience and practical insights into the industry. This role allows me to apply my academic knowledge to real-world challenges, contributing to both my professional growth and the success of the projects I am involved in.
      </p>
  </section>
  <section>
      <p>
          My skills and expertise include data communications and network management, Cisco Systems, and continuous improvement. I am dedicated to understanding and mastering these areas, driven by my passion for the field.
      </p>
  </section>
  <details>
      <summary>Competition Record</summary>
      <ul>
          <li>Student Startup Weekends by Bloom, March 2024</li>
          <li>ComSSA Hackathon 2022 - Entry by ComSSA, November 2022</li>
          <li>Seoul Creative Award - Bronze Prize, December 2016</li>
          <li>Beijing Global IT Leadership Training 2016, January 2016</li>
          <li>Smarteen App Challenge 2016 - Final Entry by Ministry of SMEs and Startups and SKPlanet, January 2016</li>
      </ul>
  </details>
  <details>
      <summary>Academic Status</summary>
      <ul>
          <li>Bachelor of Information Technology and Business, Curtin University (2022 - 2025)</li>
          <ul>
              <li>Computer Systems (CS2000): 91%</li>
              <li>Unix and C Programming (UCP1000): 91%</li>
              <li>Computer Skills (COS01S1): 86%</li>
              <li>Programming (PRG01S1): 90%</li>
          </ul>
          <li>Network Security High School Diploma, Hansei Cyber Security High School (2014 - 2017)</li>
      </ul>
  </details>
  </main>
</body>
</html>
