<nav>
  <a class="logo-link" href="/">
    <h1>Dohyun Kwak</h1>
    <span>Curtin University: Bachelor of IT</span>
  </a>
  <br>
  <small>
    <a id="about" class="info-link" href="/about.html">About</a> /
    <a id="works" class="info-link" href="/works.html">Works</a> /
    <a id="articles" class="info-link" href="/articles.html">Articles</a>
  </small>
</nav>
